@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.banner {
    background: rgb(245, 253, 252);
    background: linear-gradient(90deg, rgba(245, 253, 252, 1) 0%, rgba(194, 255, 184, 1) 47%, rgba(216, 247, 255, 1) 100%)
}

.banner-5 {
    background: rgb(245, 253, 252);
    background: linear-gradient(90deg, rgba(245, 253, 252, 1) 0%, rgba(194, 255, 184, 1) 47%, rgba(216, 247, 255, 1) 100%);
    height: 100vh;
    background-position: center;
    background-size: cover
}

.banner-3 {
    background: rgb(245, 253, 252);
    background: linear-gradient(90deg, rgba(245, 253, 252, 1) 0%, rgba(255, 219, 184, 1) 47%, rgba(216, 231, 235, 1) 100%)
}

.banner-4 {
    background: rgb(234, 207, 191);
    background: linear-gradient(90deg, rgba(234, 207, 191, 1) 0%, rgba(199, 205, 222, 1) 48%, rgba(159, 232, 252, 1) 100%)
}

.nav-link {
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: black;
    transition: ease-in-out
}

.nav-item .nav-link:hover {
    color: rgb(218, 57, 32);
    transition: 0.5s ease-in-out
}

.box {
    width: 200px;
    height: auto;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 50px;
    text-align: center;
    margin: 0 5px;
    background: white;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    color: black
}

.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%)
}

.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%)
}

.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-decoration: none
}

.box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s
}

.box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s
}

button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent
}

.box a:hover {
    text-decoration: none
}

.mobile-menu {
    color: black
}

.mobile-menu:hover {
    color: rgb(218, 57, 32);
    transition: 0.5s
}

.mobile-menu:active {
    color: rgb(218, 57, 32)
}

.wave-group {
    position: relative
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent
}

.wave-group .input:focus {
    outline: none
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s)
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #ae6352
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 200px
}

.wave-group .bar:before,
.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ae6352;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all
}

.wave-group .bar:before {
    left: 50%
}

.wave-group .bar:after {
    right: 50%
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
    width: 50%
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.img-svg {
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 50px
}

.btn3 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit
}

.btn3.learn-more {
    width: 12rem;
    height: auto
}

.btn3.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: linear-gradient( #282936, #000000);
    border-radius: 1.625rem
}

.btn3.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff
}

.btn3.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none
}

.btn3.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg)
}

.btn3.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase
}

.btn3:hover .circle {
    width: 100%
}

.btn3:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0)
}

.btn3:hover .button-text {
    color: #fff
}

.btn3 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit
}

.btn3.learn-more-2 {
    width: 12rem;
    height: auto
}

.btn3.learn-more-2 .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: linear-gradient( rgb(241, 92, 12), rgb(241, 12, 12));
    border-radius: 1.625rem
}

.btn3.learn-more-2 .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff
}

.btn3.learn-more-2 .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none
}

.btn3.learn-more-2 .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg)
}

.btn3.learn-more-2 .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgb(241, 92, 12);
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase
}

.btn3:hover .circle {
    width: 100%
}

.btn3:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0)
}

.btn3:hover .button-text {
    color: #fff
}

.btn3 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit
}

.btn3.learn-more-3 {
    width: 12rem;
    height: auto
}

.btn3.learn-more-3 .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(rgb(12, 241, 222), rgb(12, 210, 241));
    border-radius: 1.625rem
}

.btn3.learn-more-3 .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff
}

.btn3.learn-more-3 .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none
}

.btn3.learn-more-3 .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg)
}

.btn3.learn-more-3 .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgb(12, 210, 241);
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase
}

.btn3:hover .circle {
    width: 100%
}

.btn3:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0)
}

.btn3:hover .button-text {
    color: #fff
}

.btn3 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit
}

.btn3.learn-more-4 {
    width: 12rem;
    height: auto
}

.btn3.learn-more-4 .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(rgb(176, 12, 241), rgb(230, 12, 241));
    border-radius: 1.625rem
}

.btn3.learn-more-4 .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff
}

.btn3.learn-more-4 .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none
}

.btn3.learn-more-4 .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg)
}

.btn3.learn-more-4 .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgb(230, 12, 241);
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase
}

.btn3:hover .circle {
    width: 100%
}

.btn3:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0)
}

.btn3:hover .button-text {
    color: #fff
}


.button {
    --😀: #ff854d;
    --😀😀: #bb5936;
    --😀😀😀: #ff7c4d63;
    cursor: pointer;
    width: 184px;
    height: 48px;
    gap: 1rem;
    font-size: 1.125em;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    background: var(--😀);
    border: 2px solid var(--😀😀);
    border-radius: .75rem;
    box-shadow: 0 8px 0 var(--😀😀);
    transform: skew(-10deg);
    transition: all .1s ease;
    filter: drop-shadow(0 15px 20px var(--😀😀😀))
}

.button:active {
    letter-spacing: 0px;
    transform: skew(-10deg) translateY(8px);
    box-shadow: 0 0 0 var(--😀😀😀)
}
